/* @font-face {
    font-family: "Roboto Slab";
    src: url(Assets/RobotoSlab-VariableFont_wght.ttf);
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
/*Naviagation*/

.nav-section {
    background-color: #223F40;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px 72px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.logo {
    padding: 8px 8px 8px 0px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.pwc {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.pwc,
.search-bar-btn,
.add-to-wishlist-btn,
.scroll-btn {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.nav-links {
    font-size: 20px;
    gap: 20px;
    padding: 16px;
}

.input {
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 8px 20px;
    margin: 0px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.search-box {
    width: 300px;
    padding: 4px;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.fa-magnifying-glass {
    color: #EBB732;
}

.drop-down,
.input-left {
    display: flex;
    align-items: center;
}

.drop-down, 
.pwc,
#hero-chevron-right {
    color: #fff;
}

.liked {
    color: #EBB732;
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.profile-wishlist-cart-nav {
    padding: 8px 0px 8px 8px;
    justify-content: space-between;
    gap: 8px;
}

.pwc-name {
    display: block;
    cursor: pointer;
    font-size: 12px;
}

.hero-section {
    background-color: #EBB732;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 600px;
    position: relative;

}

#promo-note {
    padding: 6px 12px;
    background-color: #D9D9D9;
    width: max-content;
    border-radius: 4px;
    display: flex;
    justify-self: center;
    margin: 0px;
}

/*Hero Section*/

.hero-text-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 600px;
    gap: 24px;
}

.hero-title {
    font-size: 96px;
    font-weight: 900;
    color: #fff;
    /* display: flex;
    flex-wrap: wrap; */
}

.hero-text {
    font-size: 24px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.btns {
    background-color: #EBB732;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#hero-button {
    background-color: #223F40;
    color: #fff;
    gap: 8px;
}

#promo,
.hero-text {
    color: #000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero-image {
    height: 500px;
    position: absolute;
    bottom: 0;
    right: 0;
    /* width: 1200px; */
    display: flex;
    align-items: flex-end;
}

/*Product Section*/

.product-section,
.bestseller-section,
.fruits-n-donuts,
.blog-section {
    background-color: #fff;
    padding: 32px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /* height: 600px; */
}

.title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.category1n2-header,
.bestseller-title,
.info-section-title,
.testimonial-title,
.blog-title {
    font-size: 64px;
    color: #000;
    font-weight: 900;
}

.product-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.product-box {
    padding: 16px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 253px;
    width: 267px;
    border-radius: 16px;
    overflow: hidden;
}

.product-title-text-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 74px 12px 16px 16px;
    background-color: #00000080;
    gap: 4px;
}

.product-title {
    font-size: 36px;
    font-weight: 700;
    color: #EBB732; 
}

.product-text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 16px;
}

.product-info {
    cursor: pointer;
}

.carousels {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    flex-wrap: nowrap;
    gap: 1em;
    scroll-behavior: smooth;
    anchor-name: --carousels;
    scroll-snap-type: x mandatory;
    /* scroll-marker-group: after; */
}

/* .carousel::scroll-marker-group {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.withcarousel::scroll-marker {
    content: "";
    height: 1em;
    width: 1em;
    background-color: #00000070;
    border-radius: 50%;
} */

/* .withcarousel::scroll-marker:target-current {
    background-color: #EBB732;
} */

.carousels::-webkit-scrollbar {
    display: none;
}

.carousels::scroll-button(right),
.carousels::scroll-button(left) {
    content: "→";
    border: none;
    font-size: 28px;
    font-weight: 800;
    background-color: #EBB732;
    color: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding-bottom: .2em;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousels;
    position-area: right center;
    translate: -30%;
}

.carousels::scroll-button(left) {
    content: "←";
    position-area: left center;
    translate: 30%;
}

.carousels::scroll-button(right):disabled,
.carousels::scroll-button(left):disabled {
    background-color: #D3D3D3 ;
    color: #808080 ;
    cursor: auto;
}

.withcarousel {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    flex: 0 0 20.43em;
}

.product-menu-card {
    background-color: #D9D9D9;
    border:2px solid #a1a1a1;
    border-radius: 8px;
    height: 513px;
    width: 320px;
    padding: 16px;
}

.product-menu-card-upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.add-to-wishlist-btn {
    position: absolute;
    top: 10%;
    right: 2%;
}

.product-name-desc-and-rating {
    padding: 8px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-name {
    font-size: 18px;
}

.product-name-desc {
    font-size: 20px;
    font-weight: 700;
}

.number-of-reviews {
    font-size: 22px;
}

.price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px 16px 0px;
}

.new-price-tag {
    font-size: 24px;
    font-weight: 700;
}

.old-price-tag {
    font-size: 16px;
    text-decoration: line-through;
}

.size-and-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 8px 12px 16px 0px;
}

.size {
    width: 40%;

}

select {
    width: 9em;
    height: 2em;
    border-radius: 8px;
}

.size-submit {
    display: block;
    width: 100%;
}

/* Bestseller Section */

.bestseller-section {
    background-color: #223F40;
    color: #fff;
}

.nav-like-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.for-bestseller {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 0px;
}

.bestseller-title,
.info-section-title,
.info-section-text {
    color: #fff;
}

.bestseller-category-list {
    font-size: 20px;
    gap: 16px;
}

#selected {
    color: #EBB732;
}


.bestseller {
    background-color: transparent;
}

/* Fruits and Donuts Section */

.of-fruits-n-donuts {
    margin-bottom: 48px;
}

.category3 {
    height: 243px;
    width: 232px;
    position: relative;
}

.category3-img {
    margin-top: 24px;
    position: absolute;
    top: -65px;
    right: -15px;
}

.fruits-n-donuts-ndr {
    gap: 2px;
    padding-bottom: 0px;
}

.fruits-n-donuts-price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px 0px 0px;
    font-size: 24px;
    font-weight: 700;
}

.card-second-half {
    position: absolute;
    bottom: 20px;
}

#fnd-card1-bgcolor {
    background-color: #9A6C72;
    border: 2px solid #854C54;
}

#fnd-card2-bgcolor {
    background-color: #FDC940;
    border: 2px solid #bb8b11;
}

#fnd-card3-bgcolor {
    background-color: #ADB941;
    border: 2px solid #68711a;
}

#fnd-card4-bgcolor {
    background-color: #BE8D4C;
    border: 2px solid #875a1e;
}

.fnd-btn {
    border: 1px solid #000;
}

/* Informational Section */

.info-section {
    display: flex;
    margin: 0;
    padding: 0;
}

.half-info-section {
    position: relative;
    overflow: hidden;
}

.info-section-title-text-btn {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000080;
    padding: 58px 240px 180px 72px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/* Testimonial Section */

.testimonial-section {
    background-color: #fff;
    padding: 32px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    position: relative;
    gap: 32px;
}

.testimonial-section-title-text-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    padding-right: 40px;
}

.testimonial-text {
    font-size: 20px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
}

.testimonial-cards-half {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
    padding-left: 32px;
}

.testimonial-card {
    background-color: #fff;
    border: 2px solid #a1a1a1;
    box-shadow: 3px 3px 6px #d7d4d4;
    border-radius: 8px;
    height: 280px;
    width: 220px;
    padding: 12px;
}

.testimonial-key-extract-n-text {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.testimonial-key-extract {
    font-size: 20px;
    font-weight: 700;
}

.testimonial-card-text {
    font-size: 22px;
}

.customer-img-n-name {
    display: flex;
    flex: 1;
    align-items: center;
}

.customer-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.customer-name, 
.customer-title {
    font-size: 16px;
}

.customer-name {
    font-weight: 700;
}

/* Blog Section */

.blog-section {
    background: linear-gradient(
        to bottom,
        #fff 0%,
        #fff 60%,
        #223F40 60%,
        #223F40 100%
    );
}

.blog-title-n-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 32px;
}

.blog-text {
    font-size: 20px;
    width: 780px;
}

.blog-section-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 4px 4px #5a5555;
    width: 352px;
    height: 540px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.blog-card-btn-like-text {
    background-color: #EBB732;
    padding: 6px 16px;
    position: absolute;
    top: 12px;
    left: 24px;
    border-radius: 8px;
}

.blog-card-lower-section {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.blog-card-title {
    font-size: 24px;
    font-weight: 700;
}

.blog-card-text {
    font-size: 20px;
}

/*Sub-footer Section*/

.sub-footer-section {
    color: #fff;
    background-color: #223F40;
    padding: 32px 72px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
}

.logo-n-about,
.subscription-cta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 340px;
}

.about,
.navigation-links,
.resources-links,
.subscription-cta-text {
    font-size: 20px;
}

.navigation,
.resources {
    display: flex;
    flex-direction: column;
}

.navigation-title,
.resources-title,
.subscription-cta-title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 8px;
}

.navigation-links,
.resources-links {
    flex-direction: column;
    gap: 8px;
}

.subscription-cta {
    gap: 32px;
}

.email-n-button {
    display: flex;
    align-items: center;
    gap: 4px;
}

.getemail {
    background-color: transparent;
    height: 28px;
    width: 280px;
    border: 2px solid #fff;
    color: #fff;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
}

.email-submit {
    background-color: #EBB732;
    border: 1px solid #000;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

.footer {
    background-color: #223F40;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #fff;
}