@font-face {
    font-family: "Roboto Slab";
    src: url(Assets/RobotoSlab-VariableFont_wght.ttf);
}

body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.nav-section {
    background-color: #223F40;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px 72px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.logo {
    padding: 8px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.nav-links {
    font-size: 20px;
    gap: 20px;
    padding: 16px;
}

.input {
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 8px 20px;
    margin: 0px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.search-box {
    width: 300px;
    padding: 4px;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.search-bar-btn {
    background-color: #223F40;
    border: none;
    font-size: 16px;
}

.fa-magnifying-glass {
    color: #EBB732;
}

.drop-down, 
.pwc {
    color: #fff;
}

.profile-wishlist-cart-nav {
    padding: 8px;
    justify-content: space-between;
    gap: 8px;
}

.pwc span {
    display: block;
    cursor: pointer;
    font-size: 12px;
}

.hero-section {
    background-color: #EBB732;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 600px;
}

#promo-note {
    padding: 6px 12px;
    background-color: #D9D9D9;
    width: max-content;
    border-radius: 4px;
    display: flex;
    justify-self: center;
    margin: 0px;
}

.hero-text-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.hero-title {
    font-size: 96px;
    font-weight: 900;
    color: #fff;
}

.hero-text {
    font-size: 24px;
    font-weight: 400px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.btns {
    background-color: #EBB732;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
}

#hero-button {
    background-color: #223F40;
    color: #fff;
    gap: 8px;
}

#promo,
.hero-text, 
.fa-chevron-right {
    color: #000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero-image {
    /* height: 600px; */
    width: 1200px;
    display: flex;
    align-items: flex-end;
}

.product-section {
    background-color: #fff;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    /* height: 600px; */
}

.title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.category1n2-header {
    font-size: 64px;
    color: #000;
    font-weight: 900;
}

.product-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 253px;
    width: 267px;
}

.product-title-text-button {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    bottom: 16px;
    left: 16px;
}

.product-title {
    font-size: 36px;
    font-weight: 700;
    color: #EBB732;
}

.product-text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}