@font-face {
    font-family: "Roboto Slab";
    src: url(Assets/RobotoSlab-VariableFont_wght.ttf);
}

body {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
/*Naviagation*/

.nav-section {
    background-color: #223F40;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 8px 72px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.logo {
    padding: 8px 8px 8px 0px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

/* .icon {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
} */

.pwc,
.search-bar-btn,
.add-to-wishlist-btn,
.scroll-btn {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.nav-links {
    font-size: 20px;
    gap: 20px;
    padding: 16px;
}

.input {
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 8px 20px;
    margin: 0px 20px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.search-box {
    width: 300px;
    padding: 4px;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.fa-magnifying-glass {
    color: #EBB732;
}

.drop-down,
.input-left {
    display: flex;
    align-items: center;
}

.drop-down, 
.pwc,
#hero-chevron-right {
    color: #fff;
}

.profile-wishlist-cart-nav {
    padding: 8px 0px 8px 8px;
    justify-content: space-between;
    gap: 8px;
}

.pwc-name {
    display: block;
    cursor: pointer;
    font-size: 12px;
}

.hero-section {
    background-color: #EBB732;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    height: 600px;
}

#promo-note {
    padding: 6px 12px;
    background-color: #D9D9D9;
    width: max-content;
    border-radius: 4px;
    display: flex;
    justify-self: center;
    margin: 0px;
}

/*Hero Section*/

.hero-text-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}

.hero-title {
    font-size: 96px;
    font-weight: 900;
    color: #fff;
}

.hero-text {
    font-size: 24px;
    font-weight: 400px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.btns {
    background-color: #EBB732;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#hero-button {
    background-color: #223F40;
    color: #fff;
    gap: 8px;
}

#promo,
.hero-text {
    color: #000;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.hero-image {
    /* height: 600px; */
    width: 1200px;
    display: flex;
    align-items: flex-end;
}

/*Product Section*/

.product-section,
.bestseller-section {
    background-color: #fff;
    padding: 32px 72px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    /* height: 600px; */
}

.title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.category1n2-header,
.bestseller-header {
    font-size: 64px;
    color: #000;
    font-weight: 900;
}

.product-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.product-box {
    padding: 16px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 253px;
    width: 267px;
    border-radius: 16px;
    overflow: hidden;
}

.product-title-text-button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 74px 12px 16px 16px;
    background-color: #00000080;
    gap: 4px;
}

.product-title {
    font-size: 36px;
    font-weight: 700;
    color: #EBB732;
    
}

.product-text {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 16px;
}

.product-info {
    cursor: pointer;
}

.product-menu-card {
    background-color: #D9D9D9;
    border:2px solid #a1a1a1;
    border-radius: 8px;
    height: 513px;
    width: 320px;
    padding: 16px;
}

.product-menu-card-upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.add-to-wishlist-btn {
    position: absolute;
    top: 10%;
    right: 2%;
}

.product-name-desc-and-rating {
    padding: 8px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.product-name {
    font-size: 18px;
}

.product-name-desc {
    font-size: 20px;
    font-weight: 700;
}

.number-of-reviews {
    font-size: 22px;
}

.price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px 16px 0px;
}

.new-price-tag {
    font-size: 24px;
    font-weight: 700;
}

.old-price-tag {
    font-size: 16px;
    text-decoration: line-through;
}

/* .size-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
} */

.size-and-qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px 16px 0px;
}

.size {
    width: 40%;
}

select {
    width: 9em;
    height: 2em;
    border-radius: 8px;
}

.size-submit {
    display: block;
    width: 100%;
}

/*Bestsellers Section*/

.bestseller-section {
    background-color: #223F40;
    color: #fff;
}

.nav-like-header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.for-bestseller {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px 0px;
}

.bestseller-header {
    color: #fff;
}

.bestseller-category-list {
    font-size: 20px;
    gap: 16px;
}

#selected {
    color: #EBB732;
}


.bestseller {
    background-color: transparent;
}
